    /* body{
        background-color: red;
        width: 1440px;
        height: 1046px;
        top: -512px;
        left: -720px;
    }
    .one{
    width:662px ;
    height:374px ;
    top:203px ;
    left:124px ;
    }
    .footer{
        display: inline-block;

    }
    .photoone{
        display: flex;
         width: 314px;
         height: 315px;
         flex-wrap: nowrap;

    }
    .photo2{
        display: flex;
        width: 232px;
        height: 203px;

    }
    aside{
        display: flex;
        flex-direction: wrap;
    }
    
    body{
        background-color: bisque;
    } */






    


    
      
    
   
   