    body{
        background-color: red;
        width: 1440px;
        height: 1046px;
        top: -512px;
        left: -720px;
    }
    .one{
    width:662px ;
    height:374px ;
    top:203px ;
    left:124px ;
    }
    .footer{
        display: inline-block;

    }
    .photoone{
        position: relative;
         width: 314px;
         height: 315px;
        left: 976px;
         top: 226px;
    }
    .photo2{
        position: absolute;
        width: 232px;
        height: 203px;
        left: 124px;
        top: 670px;
        background: url(photo.png);
    }
    aside{
        display: flex;
        flex-direction: wrap;
    }
    
    body{
        background-color: bisque;
    }
    @media(max-width:834px){
        body{
            background-color: aqua;
            height: 633px;
            width: 834px;
            left: 891px;
            top: -512px;
            border-radius: 0px;


        }
    }
     @media(max-width:375px){
        body{
            background-color: pink;
            height: 776px;
            width: 375px;
            left: 1896px;
            top: -512px;
            border-radius: 0px;

        }
     }
    
      
    
   
   